<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-mathpay"
    version="0.0.1-dev">
    <name>Cordova Plugin Mathpay</name>
    <description>Cordova pay plugin intergrated two Chinese most popular pay tools: Alipay & Wechatpay.</description>
    <license>GPL</license>
    <keywords></keywords>
    <repo>https://github.com/mathxlee/cordova-plugin-mathpay.git</repo>
    <issue>https://github.com/mathxlee/cordova-plugin-mathpay/issues</issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.MathPay -->
        <clobbers target="MathPay" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="MathPay">
          <param name="android-package" value="com.mathxlee.MathPay" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/com/example/MathPay.java" target-dir="src/com/example/" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="MathPay" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="MathPay">
                <param name="ios-package" value="MathPay" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/MathPay.h" />
        <source-file src="src/ios/MathPay.m" />
    </platform>
</plugin>
